body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.16;
  color: #434455;
  font-style: normal;
  background: #fff;
}

ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 120px 0;
}
/* header */
.header{
  border-bottom: 1px solid #e7e9fc;
}
.page-header {
  display: flex;
 
  /* width: 1440px; */
}

.page-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  padding: 25px 0;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu-li {
  font-family: Roboto;
  font-style: normal;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.menu-li:hover,
.menu-li:focus {
  color: #404bbf;
}
.menu-li:active {
  text-decoration: underline #404bbf;
}
.menu-link{
  padding: 24px 0;
}
.menu-link:focus,
.menu-link:active {
  color: #404bbf;
}
.menu-adress {
  display: flex;
  margin-right: 109px;
  font-style: normal;
  align-items: center;
}
.adress-list {
  display: flex;
  gap: 40px;
}
.adress-li {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-link:hover,
.adress-link:active,
.adress-link:focus {
  color: #404bbf;
}
/* hero */

.hero-section {
  padding: 188px 0 ;
  background: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  max-width: 496px;
  margin: auto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 48px auto;
  display: block;
  height: 56px;
  min-width: 169px;
  padding: 16px 32px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.benefits{
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  color: #2e2f42;

  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.benefits-list {
  display: flex;
  gap: 24px;
  
}
.benefits-li{
  width: calc((100% - 72px) / 4);
}

.benefits-text {
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* team */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0 ;
}

.team-link {
  background-color: #ffffff;
  
  width: calc((100% - 72px) / 4); 
  border-radius: 0px 0px 4px 4px;
}
.team-section-title {
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  
}
.team-list {
  display: flex;
  padding: 0;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-name {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-link {
    /* width: calc((100% - 72px) / 4); 
  border-radius: 0px 0px 4px 4px; */
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-memb{
    padding: 32px 0 ;
}
.team-desc {
   
  text-align: center;

  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio section */
.portfolio-section{
  padding-top: 120px;
   padding-bottom: 120px; 
}
.project-title {
  color: #2e2f42;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.project-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px ;
  padding: 0 16px;
  margin-bottom: 8px ;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
 
  row-gap: 48px; 
  width: 1128px;
  justify-content: space-around;
}
.project-link {
 
  align-items: center;
}
.project-list:first-child{
    width: calc((100% - 48px) / 3);
}
.title-project{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.project-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0 16px;
}

.footer {
    
  background: #2e2f42;
 
  padding: 100px 0 ;
}
.footer-logo {
  color: #4d5ae5;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
